html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: "Open Sans", Roboto, system-ui, sans-serif;
}

body {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.wrapper {
  width: 94%;
  max-width: 600px;
  margin: auto;
}

.controls {
  padding: 1em;
}

.control-btns {
  display: flex;
}

.controls button {
  margin: 0.4em;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

textarea.input {
  width: 100%;
  border: none;
  outline: none;
  background: #fafafa;
  padding: 1em;
  font-size: 1.4em;
}
