html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: "Open Sans", Roboto, system-ui, sans-serif;
}

body {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.wrapper {
  width: 90vw;
  max-width: 600px;
  margin: auto;
}

/* controls */

.controls {
  padding: 1em;
  transition: all 0.4s ease-out;
}

.controls.more {
  max-height: 190px;
  padding: 0;
}

.controls.more.hide {
  max-height: 0px;
  overflow: hidden;
}

.control-btns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
}

.controls button {
  margin: 0.4em;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: inherit;
  border: 1px solid #777777;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-in;
}

.controls button:hover {
  background: #efefef;
  border-color: #333333;
}

.more-fonts {
  font-size: 0.9em;
  cursor: pointer;
  margin-top: 0.5em;
}

/* textarea */

textarea.input {
  width: 100%;
  height: 356px;
  border: none;
  outline: none;
  background: #fafafa;
  padding: 1em;
  font-size: 1.4em;
}
