html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

body,
button,
input,
textarea {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}
.wrapper {
  width: 90vw;
  max-width: 600px;
  margin: auto;
}

/* logo */

.logo {
  display: flex;
  justify-content: center;
  margin: 1em auto 0.5em auto;
}

a.logo img {
  width: 100%;
  max-width: 360px;
}

/* controls */

.controls {
  padding: 1em;
  transition: all 0.4s ease-out;
}

.controls.more {
  max-height: 190px;
  padding: 0;
}

.controls.more.hide {
  max-height: 0px;
  overflow: hidden;
}

.control-btns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
}

.controls button {
  margin: 0.4em;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: inherit;
  border: 1px solid #777777;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-in;
}

.controls button:hover {
  background: #efefef;
  border-color: #333333;
}

/* More fonts toggle */

.more-fonts {
  font-size: 0.9em;
  cursor: pointer;
  margin-top: 0.5em;
}

.more-fonts span.arrow svg {
  transform: translate(0, 2px);
  transition: transform 0.1s ease-out;
}

.more-fonts:not(.hide) span.arrow svg {
  transform: rotate(90deg) translate(2px, 0);
}

/* textarea */

textarea.input {
  width: 100%;
  height: 294px;
  border: none;
  outline: none;
  background: #fafafa;
  padding: 1em;
  font-size: 1.4em;
}

/* github buttons */

div.github {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.github a {
  color: black;
  transition: color 0.1s ease-out;
}

div.github a:hover {
  color: #333333;
}

div.github a,
div.github iframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.2em;
}

/* buttons */
.large-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: white;
  font-size: 1.1em;
  padding: 0.8em 1.1em;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 1.4em 0.5em 0 0.5em;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.btn svg {
  margin-right: 0.5em;
}

.tweet-button {
  background: #1da1f2;
}

.tweet-button:hover {
  background: #1a91da;
}

.copy-to-clipboard-button {
  background: #858585;
}

.copy-to-clipboard-button:hover {
  background: #727272;
}

/* tooltips */

/* bubble */
.controls button:before,
.large-buttons button:before {
  content: attr(title);
  height: auto;
  width: auto;
  position: absolute;
  background: #4a4a4afa;
  border-radius: 4px;
  color: white;
  line-height: 30px;
  font-size: 1.1em;
  padding: 0 12px;
  transform: translate(0, -38px);
  transition: all 0.2s ease-out;
  pointer-events: none;
  opacity: 0;
}

/* triangle */
.controls button:after,
.large-buttons button:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #4a4a4afa transparent transparent transparent;
  transform: translate(0, -20px);
  transition: all 0.2s ease-out;
  pointer-events: none;
  opacity: 0;
}

.large-buttons button:before {
  font-size: 1em;
  transform: translateY(-52px);
}

.large-buttons button:after {
  transform: translateY(-34px);
}

.controls button:hover:before,
.large-buttons button:hover:before,
.controls button:hover:after,
.large-buttons button:hover:after {
  opacity: 1;
}
